@model AutodijeloviAsp.Models.Korisnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumRegistrovanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumRegistrovanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.popust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.popust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brojNarudzbi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojNarudzbi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KorisnikID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
