@model IEnumerable<AutodijeloviAsp.Models.Korisnik>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumRegistrovanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.popust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brojNarudzbi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumRegistrovanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.popust)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brojNarudzbi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KorisnikID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KorisnikID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KorisnikID })
        </td>
    </tr>
}

</table>
